.wrapper{
    height: 100vh;
    width: 100%;
    border: thick dotted red;
}

.main-nav{
    width: 100%;
    height: 75px;
    border-bottom: thin solid #cccccc;
    display: flex;
    flex: end;
    align-items: center;
}

.logo{
    height: 100%;
}

.main-search{
    width: 500px;
    height: 30px;
}

.quick-links{
    margin-left: 300px;
    height: 100%;
    width: 400px;
    border: thin solid red;
}

.item{
    height: 100%;
    width: 70px;
    background-color: blue;
    display: inline-block;
}